.navbar{
    position: absolute;
    top:0px;
    right:0px;
    margin:5px;
    color:white;
    font-family: 'oswald', sans-serif;
  }
.navbar-brand{
    position: absolute;
    left:5px;
    background-color:  rgb(58, 161, 161);
    padding:20px;

    font-size: 20px;
    color:white;
    font-weight:bold;
    font-family:'oswald', sans-serif ;
}


.navbar-light{
    padding:0px;
    background-color: rgb(58, 161, 161);
}

.navbar-toggler{
    border-width: 2px;
    border-color: black;
    background-color: rgb(58, 161, 161);
}

h1 a{
    color:white;
}



.row{
    position: absolute;
    top:12%;
}
